/* Highlight B3 keywords in inline code */
code .b3-keyword { 
    color: #007020; 
    font-weight: bold;
    background: none;
    padding: 0;
    border: none;
}

.admonition.note .admonition-title::before {
    content: "🔔";
}

.admonition.caution .admonition-title::before {
    content: "⚠️";
}

.admonition.tip .admonition-title::before {
    content: "💡";
}

.italic-code {
   font-style: italic;
}
